In [3]:
import funciones as ems

In [4]:
#Función 1
df = ems.cargar_dataset('China.csv')
df.head()

,id,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,103760,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,248140,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,263081,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,274589,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,280746,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36

In [ ]:
#Funcion 2
sustituye = ems.limpieza_nulos(df)
sustituye

UnboundLocalError: cannot access local variable 'cuantitativas' where it is not associated with a value

In [5]:
#Funcion 3
Identifica = ems.cuenta_nulos(df)
Identifica

('Valores nulos por columna',
 id                                                 0
 source                                             0
 host_id                                            0
 host_name                                          0
 host_since                                         0
 host_location                                   2287
 host_response_time                               317
 host_response_rate                               317
 host_acceptance_rate                             243
 host_is_superhost                                 77
 host_neighbourhood                               283
 host_total_listings_count                          0
 host_verifications                                 0
 host_identity_verified                             0
 neighbourhood                                   5040
 neighbourhood_cleansed                             0
 property_type                                      0
 room_type                                          0
 accommodates                                       0
 bathrooms                                       1135
 bathrooms_text                                    17
 bedrooms                                         371
 beds                                            1143
 amenities                                          0
 price                                           1124
 minimum_nights                                     0
 maximum_nights                                     0
 minimum_minimum_nights                             0
 maximum_minimum_nights                             0
 minimum_maximum_nights                             0
 maximum_maximum_nights                             0
 minimum_nights_avg_ntm                             0
 maximum_nights_avg_ntm                             0
 availability_30                                    0
 availability_60                                    0
 availability_90                                    0
 availability_365                                   0
 number_of_reviews                                  0
 number_of_reviews_ltm                              0
 number_of_reviews_l30d                             0
 first_review                                    3251
 last_review                                     3251
 review_scores_rating                            3251
 review_scores_accuracy                          3251
 instant_bookable                                   0
 calculated_host_listings_count                     0
 calculated_host_listings_count_entire_homes        0
 calculated_host_listings_count_private_rooms       0
 calculated_host_listings_count_shared_rooms        0
 reviews_per_month                               3251
 dtype: int64,
 'Valores nulos por dataframe',
 28609)

In [6]:
rango = ems.limpieza_atipicos(df)
rango

,source,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_verifications,...,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,"['email', 'phone']",...,Valor Atípico,3,0,4.47,4.4,6,2,4,0,1.92
1,previous scrape,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,"['email', 'phone']",...,Valor Atípico,Valor Atípico,Valor Atípico,4.9,4.91,1,1,0,0,1.37
2,city scrape,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,"['email', 'phone', 'work_email']",...,0,0,0,NaN,NaN,1,0,1,0,NaN
3,city scrape,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,"['email', 'phone']",...,Valor Atípico,Valor Atípico,0,4.77,4.76,1,1,0,0,1.9
4,city scrape,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,"['email', 'phone']",...,Valor Atípico,Valor Atípico,Valor Atípico,4.25,4.2,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,"['email', 'phone']",...,0,0,0,NaN,NaN,34,14,19,Valor Atípico,NaN
6714,city scrape,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,"['email', 'phone']",...,0,0,0,NaN,NaN,1,1,0,0,NaN
6715,city scrape,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,"['email', 'phone']",...,0,0,0,NaN,NaN,1,1,0,0,NaN
6716,city scrape,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,['phone'],...,0,0,0,NaN,NaN,1,0,1,0,NaN
6717,city scrape,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,['phone'],...,0,0,0,NaN,NaN,1,0,1,0,NaN

In [7]:
df.to_csv("China_Procesado.csv")